<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>AServlet</servlet-name>
    <servlet-class>webjsp.AServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>webCookie.CookieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>webSession.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImgCode</servlet-name>
    <servlet-class>webImg.ImgCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImgLoginServlet</servlet-name>
    <servlet-class>webImg.ImgLoginServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>AServlet</servlet-name>
    <url-pattern>/AServlet.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/CookieServlet.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImgCode</servlet-name>
    <url-pattern>/ImgCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImgLoginServlet</servlet-name>
    <url-pattern>/ImgLoginServlet.html</url-pattern>
  </servlet-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/erro/p404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/erro/p500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.RuntimeException</exception-type>
		<location>/erro/erro.jsp</location>
	</error-page>
</web-app>